<!DOCTYPE html>
<html>
<head>
    <title>Tick Tock</title>
    <script data-th-inline="javascript">
        window.addEventListener('load', function (loadedEvent) {
            var tickTockBlock = document.getElementById('updateBlock');
            var es = new EventSource('http://localhost:8080/stream.php');
            es.addEventListener('message', function (update) {
                tickTockBlock.innerHTML = update.data;
            });
        })
    </script>
</head>
<body>
<div id="updateBlock">
    <h1 data-th-each="update  : ${updates}">
        [[${update}]]
    </h1>
</div>

</body>
</html>